*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Project specific
papers
symbol-generator/dbconfig.py
symbol-generator/tmp.tex
symbol-generator/tmp.log
symbol-generator/tmp.aux
symbol-generator/*.pdf
symbol-generator/*.svg
symbol-generator/manual/*.pdf
symbol-generator/manual/*.svg
website/config.php
website/cache/*
website/composer.lock
website/vendor/*
website/write-math.sublime-workspace

# Both of these folders have to be writable
website/formulas/*.svg
website/raw-data


# LaTex
*.aux
*.log
*.toc
*.out
*.blg
*.bbl
*.glg
*.glo
*.ist
*.gls
*.xdy

*config.py
*config.yaml
*config.yml
*config.php
*.bak
*.sublime-workspace
*.pickle

website/clients/nn-python/experiments/
private/
*.pfile
*.json
wm_raw_draw_data_*.sql
detexify-import/done/
detexify-import/skipped/
detexify-import/splitted/
*logs/
*.csv
tmp/
analyzation/
project.yml
*.html
testresult_*
DO.*
*.raw
Makefile
*.json.gz