{% extends "base.twig" %}

{% block content %}
<p>This is project part of the bachelor thesis of Martin Thoma.</p>

<p>I want to get a good on-line recognition of handwritten mathematical symbols.</p>
{% endblock %}