{% extends "base.twig" %}

{% block content %}
<p>This is project part of the bachelor thesis of <a href="http://martin-thoma.com/author/martin-thoma/">Martin Thoma</a>. All source files are on <a href="https://github.com/MartinThoma/write-math">GitHub</a>.</p>

<p>You can contact me via info@martin-thoma.de.</p>

<p>You can file issues / bugs here: <a href="https://github.com/MartinThoma/write-math/issues">Issue Tracker</a> or alternatively send me an email.</p>

<h2>What's the aim of this project?</h2>
<p>I want to get a good on-line recognition of handwritten mathematical formulae.
(Currently, I focus on single symbols.)
On-line recognition means it is recorded how the formula is drawn. This means
this information can be used to get better results for the classification task.</p>

<h2>Workflow from a users perspective</h2>
<p>The client access responsive web pages to draw the symbol he would like to get
the LaTeX code for. He goes to "classification", draws the symbol and clicks on
"submit".</p>

<p>After some time, he can come back, click on "Gallery", on
"unclassified" and then on the symbol he has drawn. There will be multiple
answers with possible classifications. He can accept one of those
classifications.</p> <!-- (TODO!) -->

<h2>Workflow from a researchers perspective</h2>
<p>A researcher who wants to get train a classifier / help people with classification
can use the API. You have to call it like this:</p>

<p><code>/<a href="../api">api</a>/?task=[task]</code></p>

<p>Valid tasks are:</p>

<ul>
    <li><code>?task=api-list-unclassified</code>: List IDs of all unclassified formulas, e.g. <code>["11","16","18","20"]</code></li>
    <li><code>?task=view-formula&id=[formula id]</code>: Receive an SVG of the formula</li>
    <li><code>?task=view-formula&latex=[latex code]</code>: Receive an SVG of the formula if it is already in the database</li>
    <li><code>?task=view-raw-data</code>: View raw data either as point-list, SVG path or as
    complete SVG</li>
    <li><code>?task=classify</code>: Add a classification for raw data.</li>
    <li><code>?task=export</code>: Export data.</li>
</ul>

<h3>How is the data structured?</h3>
<img src="https://raw.githubusercontent.com/MartinThoma/write-math/master/database/big-picture-database.png" />

<h3>How can I get the data?</h3>
<p>The interesting information is in <code>wm_formula</code>,
<code>wm_raw_draw_data</code> and <code>wm_raw_data2formula</code>.
You can use the <a href="http://www.martin-thoma.de/write-math/api/?task=export">Export API</a> to get the latest data.</p>

<p>Alternatively, you can get a complete dump (except Email addresses) via
<a href="https://github.com/MartinThoma/write-math/tree/master/database">GitHub</a>.</p>

<h2>How is the project structured</h2>
<table class="table" role="table">
    <tr>
        <th>Task</th>
        <td>Drawing</td>
        <td>Processing information</td>
        <td>Storing Information</td>
        <td>Displaying stuff</td>
        <td>Symbol recognition</td>
    </tr>
    <tr>
        <th>Technology</th>
        <td>JavaScript</td>
        <td>PHP</td>
        <td>SQL Database</td>
        <td>HTML + CSS + JS</td>
        <td>Python?</td>
    </tr>
    <tr>
        <th>Framework / Library</th>
        <td>Fabric.js and vanilla JS</td>
        <td>&nbsp;</td>
        <td>MySQL (MariaDB) + PDO</td>
        <td>Bootstrap + Twig</td>
        <td>&nbsp;</td>
    </tr>
</table>

<h2>Problems for Symbol Recognition</h2>
<ul>
    <li>Filled symbols</li>
    <li>Symbols with different line leves (\dots, \middots)</li>
    <li>Symbols that are difficult to write (bold ones)</li>
</ul>

<h2>Statistics</h2>
<ul>
  <li>{{ user_count }} users</li>
  <li>{{ formula_count }} formulas (that includes simple symbols)</li>
  <li>{{ raw_data_count}} handwritten formulas (including simple symbols).<br/>
      {{ unclassified_count }} of those are not classified yet.</li>
</ul>
{% endblock %}