{% extends "base.twig" %}
{% block header %}
<style type="text/css">
/* Side notes for calling out things
-------------------------------------------------- */
 
/* Base styles (regardless of theme) */
.bs-callout {
  margin: 20px 0;
  padding: 15px 30px 15px 15px;
  border-left: 5px solid #eee;
}
.bs-callout h4 {
  margin-top: 0;
}
.bs-callout p:last-child {
  margin-bottom: 0;
}
.bs-callout code,
.bs-callout .highlight {
  background-color: #fff;
}
 
/* Themes for different contexts */
.bs-callout-danger {
  background-color: #fcf2f2;
  border-color: #dFb5b4;
}
.bs-callout-warning {
  background-color: #fefbed;
  border-color: #f1e7bc;
}
.bs-callout-info {
  background-color: #f0f7fd;
  border-color: #d0e3f0;
}
</style>
{% endblock %}
{% block content %}
<p>This is project part of the bachelor thesis of
<a href="http://martin-thoma.com/author/martin-thoma/">Martin Thoma</a>.
All source files are on
<a href="https://github.com/MartinThoma/write-math">GitHub</a>.</p>

<p>You can file issues / bugs in the
<a href="https://github.com/MartinThoma/write-math/issues">Issue Tracker</a>
or alternatively send me an email.</p>

<p>You can contact me via info@martin-thoma.de.</p>

<h2>Statistics</h2>
<ul>
  <li>{{ user_count }} users</li>
  <li>{{ formula_count }} formulas (that includes simple symbols)</li>
  <li>{{ raw_data_count}} recordings.<br/>
      {{ unclassified_count }} of those are not classified yet.</li>
  <li><a href="../stats/">Symbols by number of trainings instances.</a></li>
</ul>

<h2>Credits</h2>
<p>This website was / is mainly developed by me (Martin Thoma), but many people
   contributed to it. Here are some of them:</p>

<ul>
    <li>Prof. Waibel allowed me to write my bachelors thesis about this topic
        and later gave me a job in which I can continue developing it.</li>
    <li>Kevin Kilgour and Dr. Sebastian Stücker gave me advice for my
        bachelors thesis. They introduced me to neural networks.</li>
    <li>Daniel Kirsch gave me lots of data from <a href="http://detexify.kirelabs.org/">detexify</a>.</li>
    <li>David Carlisle gave me plenty of advice at
        <a href="http://chat.stackexchange.com/">chat.stackexchange.com</a>.</li>
</ul>

Thank you for helping me to build this service!

<h2>Used Open Content</h2>

<ul>
    <li><a href="https://github.com/kirel/detexify-data">Detexify Data</a>: Licensed under ODbL.</li>
    <li><a href="http://mfr.felk.cvut.cz/Database.html">MfrDB</a>: Not licensed, but one of the authors gave the permission to use the data.</li>
    <li><a href="http://www.stixfonts.org/">STIX font</a>: Licensed under <a href="http://scripts.sil.org/cms/scripts/page.php?site_id=nrsi&id=OFL">SIL</a>.</li>
</ul>
{% endblock %}