{% extends "base.twig" %}

{% block header %}
	{% include 'recordingjs.twig' %}
{% endblock %}

{% block content %}
    <form method="post" action="index.php" onsubmit="return addCanvas();" id="form">
    <input type="hidden" id="drawnJSON" name="drawnJSON" value="" />
    <canvas id="sheet" width="400" height="400" style="border:1px solid black;width:400px;height:400px;"></canvas>
    <button type="submit" class="btn btn-default">Submit</button>
    </form>
{% endblock %}