{% extends "base.twig" %}

{% block header %}
	{% include 'recordingjs.twig' %}
{% endblock %}

{% block content %}
    {% if account_type == 'IP-User' %}
    <div class="alert alert-warning">
        <h4>Disclaimer</h4>
        Although you are not logged in, the following information gets stored:
        <ul>
            <li>Your handdrawn symbols</li>
            <li>Votes, flagging actions, answers</li>
            <li>All other interactions with this site</li>
            <li>{{ useragentstring }}</li>
        </ul>

        By using this service, you agree with that.
    </div>
    <div class="alert alert-info">
        By <a href="../login">logging in</a>, you help me to improve the classifier.
    </div>
    {% endif %}
    <form method="post" action="index.php" onsubmit="$('button').prop('disabled', true);return addCanvas();" id="form">
    <input type="hidden" id="drawnJSON" name="drawnJSON" value="" />
    <canvas id="sheet" width="400" height="400" style="border:1px solid black;width:400px;height:400px;"></canvas>
    <button type="submit" class="btn btn-success">Submit</button>
    <a href="?formula_id={{ formula_id }}" class="btn btn-danger">Clear</a></h3>
    </form>

    <div id="results"></div>
    <script type='text/javascript'>
        var width = (window.innerWidth > 0) ? window.innerWidth : screen.width;
        var height = (window.innerHeight > 0) ? window.innerHeight : screen.height;

        width *= 0.8;
        height *= 0.8;

        if (width > 400) {
            width = 400;
        }

        if (height > 400) {
            height = 400;
        }

        var canvas = document.getElementById("sheet");
        canvas.width = width;
        canvas.height = height;
    </script>
{% endblock %}