{% extends "base.twig" %}

{% block content %}
    {% if logged_in and account_type != 'IP-User' %}
        <div class="alert alert-info">You are already logged in as 
            '{{ display_name }}' with email '{{ email }}'.
        </div>
    {% else %}
        <form action="index.php" method="post" role="form" class="form-horizontal">
            <div class="form-group">
                <label for="email" class="col-sm-2 control-label">Email</label>
                <div class="col-sm-10">
                    <input type="email" id="email" name="email" class="form-control"/>
                </div>
            </div>
            <div class="form-group">
                <label for="password" class="col-sm-2 control-label">Password</label>
                <div class="col-sm-10">
                    <input type="password" id="password" name="password" class="form-control"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">Sign in</button>
                </div>
            </div>
        </form>

        <p>You don't have an account? Please <a href="../register">register</a>.</p>
    {% endif %}
{% endblock %}