{% extends "base.twig" %}

{% block content %}

<div class="container-fluid well span6">
  <div class="row-fluid">
        <div class="span2" >
        <img src="{{ gravatar }}?s=140&r=g&d=mm" class="img-circle">
        </div>
        
        <div class="span8">
            <h3>{{ display_name }}</h3>
            <h6>Email: {{ email }}</h6>
        </div>
        
        <div class="span2">
            <div class="btn-group">
                <a class="btn dropdown-toggle btn-info" data-toggle="dropdown" href="#">
                    Action 
                    <span class="icon-cog icon-white"></span><span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#"><span class="icon-wrench"></span> Modify</a></li>
                    <li><a href="#"><span class="icon-trash"></span> Delete</a></li>
                </ul>
            </div>
        </div>
</div>
</div>
{% endblock %}