{% extends "base.twig" %}

{% block content %}
    <form action="." method="post" role="form" class="form-horizontal">
        <div class="form-group">
            <label for="email" class="col-sm-2 control-label">Email</label>
            <div class="col-sm-10">
              <input type="email" class="form-control"
                     id="email" name="email"
                     maxlength="255" required
                     value="{{ email }}"
                     placeholder="john.smith@gmail.com" />
                   <p class="help-block">This email address will be used to
                   help you recover your password in case you forgot it.
                   It will not be shared with anybody and only be stored
                   on this websites server.<br/>
                   You could use <a href="http://mailinator.com/">mailinator</a>,
                   a disposable email address service if you're still worried
                   about confidentiality of your email address.</p>
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-sm-2 control-label">Password</label>
            <div class="col-sm-10">
                <input type="password" class="form-control"
                       id="password" name="password"
                       pattern=".{6,60}" required
                       value="{{ password_plain }}"
                       title="6 characters minimum"/>
            <p class="help-block">Your password will be stored hashed and
            individually salted. This means we don't store your password itself,
            but an encrypted version of it. This encrypted version will not
            be published. See <a href="https://en.wikipedia.org/wiki/Cryptographic_hash_function">cryptographic hash function</a> for a more detailed explanation.</p>
            </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label">
            {% if accepted_terms%}
              <input type="checkbox" name="accept_terms" id="accept_terms" checked="checked" />
            {% else %}
              <input type="checkbox" name="accept_terms" id="accept_terms" />
            {% endif %}
          </label>
          <div class="col-sm-10">
            Accept that every information you enter
            (except your email address and password) will be completely shared
            with the public. This sharing with the public can probably not be
            undone, because other people might have copied the information.
          </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
{% endblock %}