{% extends "base.twig" %}

{% block content %}

<table class="table table-striped">
    <tr>
        <th>#</th>
        <th>Formula in LaTeX</th>
        <th>Instances in database</th>
    </tr>
  {% for s in symbol_training_data_count %}
    <tr>
        <td>{{ loop.index }}</td>
        <td><a href="../symbol/?id={{s.id}}">{{s.formula_in_latex}}</a></td>
        <td>{{s.counter}}</td>
    </tr>
  {% endfor %}
</table>
{% endblock %}