{% extends "base.twig" %}

{% block content %}
<a href="http://tex.stackexchange.com/q/14/5645">How to look up a symbol or identify a math symbol or character?</a>
gives great answers for single symbol identification. This is only a short
list of the common ones I use. If you can't find it, you can use tex.stackexchange.com
to ask experts for it.

<h2>By on-line drawing</h2>
<ul>
    <li><a href="http://write-math.com/classify/">write-math.com/classify</a>: if you're looking for a rather standard symbol (over 370 symbols)</li>
    <li><a href="http://detexify.kirelabs.org/classify.html">detexify.kirelabs.org</a>: if you're looking for a non-standard symbol (over 1000 symbols)</li>
</ul>

<h2>By Text</h2>
<ul>
    <li><a href="http://write-math.com/search/">write-math.com/search</a>: If you know vaguely what you're looking for</li>
    <li><a href="http://write-math.com/tags/">write-math.com/tags</a>: Search by topic (you can use those tags as <code>[tag]</code> within the search)</li>
    <li><a href="http://unicode-search.net/unicode-namesearch.pl?term=INTEGRAL">unicode-search.net</a></li>
</ul>
{% endblock %}